<main>
    <div class="py-5 w-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <h1 class="display-huge fw-bold py-5" data-aos="fade-down">{{codeSnippet.title}}</h1>
                </div>
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 ">
                    <div class="row py-vh-4">
                        <div class="col p-0 border rounded shadow">
                            <div class="col-12 border-bottom bg-light p-3">
                                <span class="text-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-circle-fill" viewbox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                <span class="text-warning mx-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-circle-fill" viewbox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                                <span class="text-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-circle-fill" viewbox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                            </div>
                            <div class="col p-4 bg-white">
                                <code>
                                    <pre>{{codeSnippet.code}}</pre>
                                </code>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</main>