.code-editor-container {
    background-color: #282c34;
    padding: 5px;
}

.code-editor {
    background-color: transparent;
    color: #abb2bf;
    font-family: monospace;
    border: none;
    resize: none;
    outline: none;
    min-height: 200px; /* Minimum height for initial display */
    overflow: hidden;
}
.code-editor:focus{
    border: 0;
}
