<main>
    <div class="container  py-5 w-100 vh-100">
        <form class="row" [formGroup]="snipForm">
            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <h1 class="display-huge fw-bold py-5" data-aos="fade-down">Create Snippet</h1>
                <div class="mb-5">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text"
                        class="form-control form-control-lg {{!(title.valid || title.untouched)  && 'is-invalid'}}"
                        id="exampleInputEmail1" placeholder="title" [formControl]="title">
                </div>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="bg-dark p-3 rounded-top">
                    <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-circle-fill" viewbox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </span>
                    <span class="text-warning mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-circle-fill" viewbox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </span>
                    <span class="text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-circle-fill" viewbox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </span>
                </div>
                <div class="code-editor-container rounded-bottom">
                    <textarea id="code-editor"
                        class="form-control code-editor {{!(code.valid || code.untouched)  && 'is-invalid'}}"
                        [formControl]="code" placeholder="Write your code here..."
                        (input)="autoExpand($event)"></textarea>
                </div>
                <button type="submit" class="btn btn-primary px-5 py-3 my-5 shadow me-1" (click)="save()"
                    [disabled]="snipForm.invalid">Create</button>
            </div>
        </form>
    </div>
</main>